<h1>SwellFinder</h1>

<h3>[ Surf forcast for Normandy Beach, NJ ]</h3>

<div id="chart_container">
</div>

<div id="key">
  <div class="section">
    <div class="swatch clean">
    </div> Clean
  </div>
  <div class="section">
    <div class="swatch semi">
    </div> Semi-clean
  </div>
  <div class="section">
    <div class="swatch choppy">
    </div> Choppy
  </div>

</div>