body {
  background-color: #2B2C2F;
}

h1 {
  color: #fff;
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 4em;
  margin-bottom: 0;
}
h3 {
  color: #CECECE;
  text-align: center;
  font-weight: 100;
  margin-top: 10px;
}

#chart_container {
  // background-color: #000;
  margin: 20px auto;
  padding: 20px;
  width: 1225px;
  // background-color: #222;
  border-radius: 10px;
}

#key {
  position: relative;
  width: 300px;
  height: 60px;
  border: 1px solid #777777;
  border-radius: 5px;
  margin: 0 auto;
  color: #777777;
  font-size: .9em;
  .section {
    display: inline-block;
    width: 32%;
    text-align: center;
  }
  .swatch {
    height: 20px;
    width: 20px;
    background-color: teal;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 100;
    border-radius: 3px;
    &.clean {
      background-color: rgb(73, 166, 54);
    }
    &.semi {
      background-color: rgb(88, 141, 192);
    }
    &.choppy {
      background-color: rgb(209, 97, 88);
    }
  }
}

.bar {
  stroke: #333;
  stroke-width: .3px;
}

.bar:hover {
  fill: #555;
}

.axis {
  font: 14px sans-serif;
}

.tick {
  fill: #888;
}

.axis path,
.axis line {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}

.x.axis path {
  /*display: none;*/
}

.d3-tip {
  line-height: 1;
  /*font-weight: bold;*/
  font: 14px sans-serif;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #ddd;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}